<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
body { margin: 0; padding: 0; }
p {
  font-size: 40px;
  font-size: 50px;

  /* font-size: 170px; */
  font-family: "Shopify Sans", sans-serif;
  margin: 10px;
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.25em;
  font-weight: bold;
}
.small {
  font-size: 16px;
}
.large {
  font-size: 20px;
}
</style>

<p class="<%= @size %>"><%= @address %></p>
